:root {
  --cardbg: rgba(125, 125, 125, 1);
  --cborder: rgba(125, 125, 125, 0.75);
  --scard: rgba(0, 255, 0, 0.75);
}

@font-face {
  font-family: Chillax;
  src: url(Chillax-Variable.woff2);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #000;
}

.grid-container {
  width: 90vh;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0.5vw;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 0.5vw;
}

.card {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cardbg);
  border: 0.25vw solid var(--cborder);
  border-radius: 1vw;
  font-size: 1vw;
  font-family: Stardom;
  transition: 0.2s;
}

.card:hover {
  background-color: #777;
}

.card:active {
  background-color: #555;
}

.selected {
  border-color: var(--scard);
  transition: 0.2s;
}
