@font-face {
  font-family: Stardom;
  src: url(Stardom-Regular.woff2);
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.title {
  height: 100vh;
  width: 10vw;
  text-orientation: mixed;
  writing-mode: vertical-rl;
}

.bingofield{
  width: 90vw;
  height: 100vh;
}

.grid-container {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 20px;
}

.grid-container > div {
  height: auto;
  width: auto;
  background-color: #999999;
  text-align: center;
  font-size: 30px;
}
